@import "mixins";

.rx-notifications {
  margin-bottom: 1.5em;

  .rx-notification {
    margin-bottom: 2px;
  }

  .notification-dismiss {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 15px;
    color: inherit;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
.rx-notification {
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 1.5rem;
  position: relative;

  .button {
    margin-bottom: 0;
  }
  a {
    color: inherit;
    font-weight: 800;
    text-decoration: underline;
  }
  .notification-icon {
    margin-right: 8px;
    font-size: 1.3em;
  }
  &.notification-success {
    background-color: @green-700;
    color: @white;
  }
  &.notification-info {
    background-color: @blue-100;
    color: @black;
  }
  &.notification-warning {
    background-color: @orange-accent;
    color: @black;
  }
  &.notification-error {
    background-color: @red-700;
    color: @white;
  }
  &.notification-loading {
    .notification-icon {
      display: none;
    }
    [rx-spinner] {
      margin-right: 6px;
    }
    .rx-spinner {
      border-bottom-color: @gray-950;
      border-right-color: @gray-950;
      height: 16px;
      width: 16px;
    }
  }
}
.animate-fade {
  &.ng-enter,
  &.ng-leave {
    transition: 0.25s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}//.animate-fade
