@import "vars";

// Base class
.rxTooltip {
  position: absolute;
  z-index: @tooltip-z-index;
  display: block;
  visibility: visible;
  font-size: @app-font-size;
  line-height: @app-line-height;
  opacity: 0;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &.in {
    opacity: @tooltip-opacity;
  }

  // Make room for arrow
  &.top {
    margin-top: -@tooltip-arrow-length;
  }

  &.right {
    margin-left: @tooltip-arrow-length;
  }

  &.bottom {
    margin-top: @tooltip-arrow-length;
  }

  &.left {
    margin-left: -@tooltip-arrow-length;
  }

  // Wrapper for the tooltip content
  &__inner {
    border: @tooltip-border-width solid @tooltip-border-color;
    max-width: @tooltip-max-width;
    color: @tooltip-text-color;
    text-align: center;
    text-decoration: none;
    background-color: @tooltip-background-color;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 0 var(--rx-black-a35);
    padding: 15px;
  }

  &__header {
    color: @tooltip-header-text-color;
    text-align: left;
    font-size: 15px;
    padding-bottom: 5px;
    font-weight: 600;
  }

  // Arrows
  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border: @tooltip-arrow-border-length solid transparent;

    &:before {
      pointer-events: none;
      content: " ";
      position: absolute;
      border: @tooltip-arrow-length solid transparent;
    }
  }
}

.rxTooltip {
  &.left,
  &.right {
    .rxTooltip__arrow {
      top: 50%;
      margin-top: -(@tooltip-arrow-border-width / 2);

      &:before { // arrow fill
        margin-top: -(@tooltip-arrow-width / 2);
      }
    }
  }

  &.top,
  &.bottom {
    .rxTooltip__arrow {
      left: 50%;
      margin-left: -(@tooltip-arrow-border-width / 2);

      &:before { // arrow fill
        margin-left: -(@tooltip-arrow-width / 2);
      }
    }
  }

  &.top .rxTooltip__arrow {
    bottom: -(@tooltip-arrow-length);
    border-bottom-width: 0;
    border-top-color: @tooltip-arrow-border-color;

    &:before {
      top: -(@tooltip-arrow-border-length + @tooltip-border-width);
      border-top-color: @tooltip-arrow-fill-color;
    }
  }

  &.right .rxTooltip__arrow {
    left: -(@tooltip-arrow-length);
    border-left-width: 0;
    border-right-color: @tooltip-arrow-border-color;

    &:before {
      right: -(@tooltip-arrow-border-length + @tooltip-border-width);
      border-right-color: @tooltip-arrow-fill-color;
    }
  }

  &.bottom .rxTooltip__arrow {
    top: -(@tooltip-arrow-length);
    border-top-width: 0;
    border-bottom-color: @tooltip-arrow-border-color;

    &:before {
      bottom: -(@tooltip-arrow-border-length + @tooltip-border-width);
      border-bottom-color: @tooltip-arrow-fill-color;
    }
  }

  &.left .rxTooltip__arrow {
    right: -(@tooltip-arrow-length);
    border-right-width: 0;
    border-left-color: @tooltip-arrow-border-color;

    &:before {
      left: -(@tooltip-arrow-border-length + @tooltip-border-width);
      border-left-color: @tooltip-arrow-fill-color;
    }
  }
}
