<div class="rx-notifications" ng-show="messages.length > 0">
    <rx-notification
        ng-init="loading = message.loading"
        ng-repeat="message in messages"
        type="{{message.type}}"
        loading="message.loading"
        class="animate-fade">
        <span rx-spinner toggle="message.loading"></span>
        <span class="notification-text" ng-bind-html="message.text"></span>
        <button ng-click="dismiss(message)" class="notification-dismiss btn-link" ng-if="!message.loading">
            &times;
            <span class="visually-hidden">Dismiss Message</span>
        </button>
    </rx-notification>
</div>
