<div class="rx-notification notification-{{type}}">
    <span class="notification-icon">
      <span ng-if="loading" rx-spinner toggle="true"></span>
      <span ng-if="!loading">
        <span ng-switch="type">
          <i class="fa fa-exclamation-circle" ng-switch-when="error"></i>
          <i class="fa fa-exclamation-triangle" ng-switch-when="warning"></i>
          <i class="fa fa-info-circle" ng-switch-when="info"></i>
          <i class="fa fa-check-circle" ng-switch-when="success"></i>
        </span>
      </span>
    </span>

    <button ng-if="isDismissable" ng-click="dismissHook()" class="notification-dismiss btn-link">
        &times;
        <span class="visually-hidden">Dismiss Message</span>
    </button>

    <span class="notification-text">
      <div ng-transclude></div>
    </span>
</div>
