/*
 * Common
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,700,700italic");
@import "vars";
@import (inline) "normalize.css";

:root {
  // ## Reds
  --rx-red-100: #ffcdd2;
  --rx-red-500: #f44336;
  --rx-red-700: #d32f2f;
  --rx-red-accent: #ec515f;

  // ## Blues
  --rx-blue-100: #bbdefb;
  --rx-blue-500: #3391ff;
  --rx-blue-700: #0d74d1;
  --rx-blue-900: #0d47a1;
  --rx-blue-accent: #00bdff;

  // ## Greens
  --rx-green-50: #eef7ef;
  --rx-green-100: #c8e6c9;
  --rx-green-500: #4caf51;
  --rx-green-700: #2e7d32;
  --rx-green-accent: #43b947;

  // ## Oranges
  --rx-orange-100: #ffecb3;
  --rx-orange-500: #ffc107;
  --rx-orange-700: #d14904;
  --rx-orange-accent: #ffd740;

  // ## Purples
  --rx-purple-100: #4a5acc;
  --rx-purple-500: #3b44a9;
  --rx-purple-700: #2e3187;
  --rx-purple-accent: #5a74f2;

  // ## Grays
  --rx-white: #ffffff;
  --rx-gray-0: #ffffff;
  --rx-gray-25: #fafafa;
  --rx-gray-50: #f5f5f5;
  --rx-gray-100: #eeeeee;
  --rx-gray-200: #e7e7e7;
  --rx-gray-300: #e0e0e0;
  --rx-gray-400: #d8d8d8;
  --rx-gray-500: #bdbdbd;
  --rx-gray-600: #9e9e9e;
  --rx-gray-700: #757575;
  --rx-gray-800: #616161;
  --rx-gray-900: #424242;
  --rx-gray-950: #333333;
  --rx-gray-975: #212121;
  --rx-gray-1000: #000000;
  --rx-black: #000000;

  // ## Supplemental
  --rx-black-a35: rgba(0, 0, 0, 0.35);
  --rx-white-a80: rgba(255, 255, 255, 0.8);
}

html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

// Resets for HTML elements
html,
body {
  height: 100%;
  font-size: @app-font-size;
  color: var(--rx-gray-900);
  font-family: @app-font;
}

// Resets for form inputs
input,
textarea,
select {
  box-shadow: none;
}

// Set default font
button,
input,
select {
  font-family: @app-font;
}

// Remove default margin/padding/etc
header,
nav,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

// No list styles for lists
ol,
ul,
li {
  list-style: none;
}

// We want a little bit more line-spacing in paragraphs
p {
  line-height: @app-line-height;
}

/* ===== HEADINGS ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;

  &.subdued {
    color: var(--rx-gray-700);
  }
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 10px;
}

// Other Stuff
.subdued {
  color: var(--rx-gray-700);
}

// Hidden content
.hidden {
  visibility: hidden;
}

// Used to hide content visually but let them still be read
// by screen readers (removed from the page spacing)
// !important is required and prevents visible styling
.visually-hidden {
  position: absolute !important; // lesshint importantRule: false
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important; // lesshint importantRule: false
  border: 0 !important; // lesshint importantRule: false
  height: 1px !important; // lesshint importantRule: false
  width: 1px !important; // lesshint importantRule: false
  overflow: hidden;
}
body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
  display: none;
}

// Clearing Floats
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

// Clearing siblings
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}

// Marks content as full width (e.g. to give a button full width).
// Requires 'display' to be defined as `inline-block` or `block`
.full-width {
  width: 100%;
}

// Center content
// Requires 'display' to be defined as `inline-block` or `block`
.centered {
  text-align: center;
}


/*
 * PLACEHOLDER TEXT STYLING
 * https://css-tricks.com/snippets/css/style-placeholder-text/
 */
::-webkit-input-placeholder { // Chrome
  color: @rxForm-placeholder-color;
  font-weight: 300;
  font-style: italic;
}
::-moz-placeholder { // Firefox 19+
  color: @rxForm-placeholder-color;
  font-weight: 400;
  font-style: italic;
}

//TODO: Remove. DEPRECATED
.action-separator {
  font-size: 1.1em;
  color: var(--rx-gray-700);
}
